@import "tailwindcss";

* {
    font-family: "Montserrat", sans-serif;
    -ms-overflow-style: none;
  scrollbar-width: none;
}


*::-webkit-scrollbar {
  display: none;
}

.montserrat-semibold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}